# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore environment files
.env

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
